@model Timeline.Vertical.Features.Persons.GetPagedPersonOverviewFeature.Result;

@{
    ViewData["Title"] = "Persons";
}

<div>
    <h2>Persons</h2>

    @if (Model.Model.Items.Any())
    {
        var template = Model.Model.Items.First();
        <table class="table-bordered">
            <tr>
                <th style="padding-right: 5em">@Html.LabelFor(i => template.Name)</th>
                <th style="padding-right: 5em">@Html.LabelFor(i => template.Created)</th>
                <th style="padding-right: 5em">@Html.LabelFor(i => template.Modified)</th>
                <th style="padding-right: 5em">@Html.LabelFor(i => template.Id)</th>
            </tr>
            @foreach(var item in Model.Model.Items)
            {
                <tr>
                    <td style="padding-right: 5em">@Html.ValueFor(i => item.Name)</td>
                    <td style="padding-right: 5em">@Html.ValueFor(i => item.Created)</td>
                    <td style="padding-right: 5em">@Html.ValueFor(i => item.Modified)</td>
                    <td style="padding-right: 5em">@Html.ValueFor(i => item.Id)</td>
                </tr>
            }
        </table>
    }
</div>
